<template>
  <v-card class="beer-box">
    <v-card-text>
      <p class="display-1 text--primary">{{ beer.name }}</p>
      <p>{{ beer.tagline }}</p>
      <div class="text--primary"></div>
      <v-list dense>
        <ListItem label="Alkohol content:" :value="`${beer.abv} %`" />
        <ListItem label="IBU:" :value="beer.ibu" />
        <ListItem label="EBC:" :value="beer.ebc" />
        <ListItem label="SRM:" :value="beer.srm" />
      </v-list>
    </v-card-text>
  </v-card>
</template>

<script>
import ListItem from "./ListItem";

export default {
  name: "BeerItem",
  components: { ListItem },
  props: ["beer"],
};
</script>
<style>
.beer-box {
  width: 22rem;
  height: 26rem;
}
</style>
