<template>
  <div>
    <div v-if="beers.length > 0" class="beer-container">
      <div v-for="beer in beers" :key="beer.id">
        <BeerItem :beer="beer" />
      </div>
    </div>
    <div v-else class="no-results">
      No beers found yet :-(<br />Type beer name into search input and hit
      search. <br />
      Try e.g. IPA
    </div>
  </div>
</template>

<script>
import BeerItem from "./BeerItem";
import { mapState } from "vuex";

export default {
  name: "BeerItemsList",
  components: {
    BeerItem,
  },
  computed: mapState(["beers"]),
};
</script>
<style>
.no-results {
  color: grey;
  font-size: 2rem;
  margin: 2rem;
}
.beer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
  margin: 3rem;
}
</style>
