<template>
  <v-container>
    <v-form
      ref="form"
      @submit.prevent="handleSearchClick"
      v-model="valid"
      lazy-validation
    >
      <v-text-field
        v-model="name"
        :counter="50"
        :rules="nameRules"
        label="Beer name"
        required
        :loading="loading"
        class="search-field"
      ></v-text-field>

      <v-btn
        :disabled="!valid"
        color="success"
        class="mr-4"
        @click="handleSearchClick"
      >
        Search
      </v-btn>

      <v-btn color="error" class="mr-4" @click="reset"> Reset </v-btn>
    </v-form>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Search",
  computed: mapState(["loading"]),
  data: () => ({
    valid: true,
    name: "",
    nameRules: [
      (v) => !!v || "Search phase is required",
      (v) =>
        (v && v.length <= 50) || "Search phase must be less than 50 characters",
    ],
  }),
  methods: {
    handleSearchClick() {
      this.$refs.form.validate();
      if (this.valid) {
        this.$store.dispatch("search", { name: this.name });
      }
    },
    reset() {
      this.$refs.form.reset();
      this.$store.dispatch("resetBeers");
    },
  },
};
</script>
<style>
.search-field {
  width: 20rem;
}
</style>
