<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <span class="logo">Hello beer</span>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://en.wikipedia.org/wiki/Beer_measurement"
        target="_blank"
        text
      >
        <span class="mr-2">Beer wiki</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
      <v-btn
        href="https://www.linkedin.com/in/milan-faltus-58799636/"
        target="_blank"
        text
      >
        <span class="mr-2">by Milan Faltus</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <div class="container">
        <div class="search"><Search /></div>
        <div class="beer-list"><BeerItemsList /></div>
      </div>
    </v-main>
  </v-app>
</template>

<script>
import Search from "./components/Search";
import BeerItemsList from "./components/BeerItemsList";

export default {
  name: "App",
  components: {
    Search,
    BeerItemsList,
  },
};
</script>
<style>
.logo {
  font-size: 25px;
  font-weight: 500;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  width: 45rem;
  margin: 2rem;
}
.beer-list {
  max-width: 90%;
  margin-bottom: 4rem;
}
</style>
